body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.title {
  text-align: center;
  color: #f5c518;
}

.sub-title {
  margin-top: 30px;
  color: #f5c518;
}

.summary {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.card {
  background: #111;
  border: 2px solid #f5c518;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th {
  background: #f5c518;
  color: black;
  padding: 10px;
}

td {
  background: #1a1a1a;
  padding: 10px;
  text-align: center;
}

.no-data {
  text-align: center;
  margin-top: 20px;
  color: #f5c518;
  display: none;
}
